@import "../../../src/assets/styles/variables";

.projectCard {
  display: grid;
  grid-template-rows: 50% 10% 30% 10%;
  justify-content: center;
  align-items: center;
  height: 275px;
  margin: 20px;
  border-radius: 10px;
  background-color: $cardbackground;
  box-shadow: 5px 5px 10px 2px black;
  border: 1.5px solid $iconblue;
  color: $navblue;
  font-weight: 700;

  .projectImg {
    align-items: center;
    width: auto;
    height: 100px;
    margin: auto;
    padding: 5px;
  }
  .projectTitle {
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding-bottom: 3px;
    line-height: 0;
  }
  .projectBody {
    font-size: 14px;
    text-align: center;
    margin: auto;
    line-height: 16px;
    padding: 5px 5px 5px 5px;
  }
  .projectLink {
    font-size: 12px;
    text-align: center;
    margin: auto;
    padding-bottom: 5px;
  }
}
