@import "../../../src/assets/styles/variables";

.skillsCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $cardbackground;
  margin: 20px;
  padding: 20px;


  .skillsTitle {
    font-size: 25px;
  }
  .skillsImg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid black;
  }
  .skillsBody {
    font-size: 14;
  }
}
