@import "../../../src/assets/styles/variables";

.skillsCardContainer {
  background-color: $cardbackground;
  margin: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;

  .skillsTitle {
    font-size: 25px;
  }
  .skillsImg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid black;
  }
  .skillsBody {

  }
}
