@import "../../../src/assets/styles/variables";

.projectPage {
  justify-content: center;
  align-content: center;
  margin: 0;

  .projectHeading {
    color: $orange;
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px $navblue;
    padding-bottom: 50px;
  }
  .projectCardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 370px));
    justify-content: center;
    align-content: center;
    margin: auto;
    max-width: 1250px; 
  }
}
