@import '../../../src/assets/styles/variables';

.navBar {
  li {
    list-style-type: none;
    width: 35px;
    height: 35px;
}
.navBarIcons {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  height: 8vh;
  opacity: 0.97;
  background-color: $navblue;
  bottom: 0;
  }
} 
.icon {
  font-size: 35px;
  color: $iconblue;
  &:active {
    color: $orange;
  }
}

.icon:hover { 
  filter: drop-shadow(0px 0px 10px $iconblue);
}


@media only screen and (min-width: 768px) {

  .navBar {
    height: 100vh;
    width: 70px; 
    position: fixed; 
    left: 0;
    padding: 20vh 0;
    background-color: $navblue;
    margin: auto;
    bottom: unset;
    ul {
      padding: 20px 0;
    }
    .navBarIcons {
      display: flex;
      flex-direction: column;
      height: 60vh;
      width: 70px;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      bottom: unset;
    }
  }












}