@import "../../../src/assets/styles/variables";

.aboutMePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 30px;
  min-height: 100vh;

  .aboutMeHeading {
    color: $orange;
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px $navblue;
    padding-bottom: 20px;
  }
  .aboutMeCard {
    background-color: $cardbackground;
    font-size: 14px;
    line-height: 16px;
    color: $navblue;
    width: 90%;
    max-width: 1075px;
    margin: 10px 0 20px 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px black;
    border: 1.5px solid $iconblue;

    ul {
      list-style: none;
    }
    ol {
      margin-left: 25px;
    }
    h2,
    h3,
    h4,
    p {
      padding: 3px 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .aboutMePage {
    .aboutMeCard {
      width: unset;
      max-width: 70vw;
      font-size: 18px;
    }
  }
}

@media only screen and (min-width: 899px) {
  .aboutMePage {
    .aboutMeCard {
      width: unset;
      max-width: 70vw;
      font-size: 20px;
    }
  }
}
