@import "../../../src/assets/styles/variables";

.aboutMePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  .aboutMeHeading {
    color: $orange;
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px $navblue;
    padding-bottom: 50px;
  }
  .aboutMeCard {
    background-color: $cardbackground;
    font-size: 1rem;
    color: $navblue;
    width: 80%;
    padding: 30px;
    border-radius: 10px;
    margin: 0 0 50px 0;
    ul {
      list-style: none;
    }
    ol {
      margin-left: 25px;
    }
    h2,
    h3,
    h4,
    p {
      padding: 5px 0;
    }
  }
}
